__pycache__/
.git/
.pyc
package/opt/main/main
pyiconic.deb
Lin_Exec/main
Win_Exec
PyIconic-cache
PyIconic-MsiBuild-SetupFiles
dynamite.deb
Lin_Exec/penguin.png
Linux/setup_file.json
Linux/setup_file2.json
Linux/setup_file3.json
.fpm
package.sh
PyIconic.aip
Linux/modules/downloads.cfg
Linux/modules/log.txt
Linux/modules/update.py
Linux/linkss.txt
dynamite_v*
package/
Lin_Exec/
README copy.md
Windows/app_run.py
Windows/lic.txt
Windows/linkss.txt
Windows/run.py
Windows/ref1.py
Windows/ref2.py
Windows/ref3.py
Windows/setup.py
Windows/Trial.dll
Windows/Untitled-1.py
Windows/update.bat
Windows/modules/update.py
Windows/modules/config.py
Windows/modules/downloads.cfg
Windows/modules/log.txt
Windows/setup_file.json
Windows/icon.ico
cleanup.bat
Windows/License.rtf

