__pycache__/
.git/
.pyc
package/opt/main/main
pyiconic.deb
Lin_Exec/main
Win_Exec
PyIconic-cache
PyIconic-MsiBuild-SetupFiles
dynamite.deb
Lin_Exec/penguin.png
Linux/setup_file.json
Linux/setup_file2.json
Linux/setup_file3.json
Linux/update.sh
.fpm
package.sh
PyIconic.aip
Linux/modules/downloads.cfg
Linux/modules/log.txt
Linux/modules/update.py
Linux/linkss.txt
dynamite_v2024.12.25.deb
package/